{%extends  'base.html'%}

{%block content%}
<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="room-container">

 <div>
      <h1>{{room.name}}</h1>
       <p>{{room.description}}</p>

       <div class="comment-wrapper">
          <h3>Conversation</h3>
           <hr>
           {% for message in messages %}
           <div>
               {% if request.user.username == message.user.username %}
                   <a href="{% url 'delete_message' message.id %}">Delete</a>
               {% endif %}
               <small>@{{ message.user.username }} {{ message.created_at|timesince }} ago</small>
               <p>{{ message.body }}</p>
               <hr>
           </div>
       {% endfor %}
       
       </div>
       {%if user.is_authenticated%}
        <div class="comment_form">
          <form action="" method="post">
            {%csrf_token%}
            <input type="text" name="body" placeholder="Write your messsage here...............">
          </form>
        </div>
     {%endif%}
 </div>
 <div>
    <h1>Participants</h1>
    {% for user in participants%}
    <div>
        <p>@{{user.username}}</p>

    </div>
    {%endfor%}
 </div>
</div>

{%endblock%}